{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-typescript",
      {
        "tsconfig": "./tsconfig.json"
      }
    ],
    ["@babel/transform-runtime"]
  ]
}
